In [18]:
# entailment
sentence1="Two young children in blue jerseys, one with the number 9 and one with the number 2 are standing on wooden steps in a bathroom and washing their hands in a sink."
sentence2="Two kids in numbered jerseys wash their hands."

# contradiction
sentence3="Two young children in blue jerseys, one with the number 9 and one with the number 2 are standing on wooden steps in a bathroom and washing their hands in a sink."
sentence4="Two kids in jackets walk to school."

# contradiction
sentence5="A woman is doing a cartwheel while wearing a bikini in the sand next to the beach."
sentence6="A woman is doing a cartwheel and falls on her head."

docs=[sentence1,sentence2,sentence3,sentence4,sentence5,sentence6]

In [40]:
from sklearn.feature_extraction.text import  TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

tokens=lambda d:d.lower().split(" ") 

vectorizer=TfidfVectorizer(ngram_range=(1, 1), max_df=1.0, min_df=0, norm='l2', use_idf=True, smooth_idf=True,sublinear_tf=True,tokenizer=tokens)

vector=vectorizer.fit_transform(docs)
feature_names=vectorizer.get_feature_names_out()


result=vector.todense().tolist() 

# cosine similarity

cosine_similar=cosine_similarity(result)

cosine_similar

df = pd.DataFrame(cosine_similar, columns=['sentence1','sentence2','sentence3','sentence4','sentence5','sentence6'],index=['sentence1','sentence2','sentence3','sentence4','sentence5','sentence6'])

In [42]:
df

           sentence1  sentence2  sentence3  sentence4  sentence5  sentence6
sentence1   1.000000   0.124360   1.000000   0.087592   0.193683   0.179571
sentence2   0.124360   1.000000   0.124360   0.240646   0.030857   0.000000
sentence3   1.000000   0.124360   1.000000   0.087592   0.193683   0.179571
sentence4   0.087592   0.240646   0.087592   1.000000   0.118511   0.000000
sentence5   0.193683   0.030857   0.193683   0.118511   1.000000   0.401968
sentence6   0.179571   0.000000   0.179571   0.000000   0.401968   1.000000

In [ ]:
# CountVectorizer
# TfiDFvectorizer
# Transformer(bert)

In [1]:
import pandas as pd
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
df.to_csv(index=False)

'name,mask,weapon\r\nRaphael,red,sai\r\nDonatello,purple,bo staff\r\n'